#DB
GC_DB_SERVER="postgresql+psycopg2"
GC_DB_HOSTNAME="localhost"
GC_DB_DATABASE="ground_control_db"
GC_DB_USERNAME="postgres"
GC_DB_PASSWORD=""
GC_DB_PORT=5432

#SECRET
GC_SECRET_ENCRYPTION_KEY="secret"

#SSO
GC_SSO_AUDIENCE="ground-control-backend"
GC_SSO_VERIFY_AUD=true
