gc-demo-env
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
venv
docs.zip
archive.zip
build/
dist/
*.egg-info
.tox
conf.ini
junit_*
venv/
data/
*-priv.pem
*-pub.pem
.vscode/
.idea/
src/.secrets.yaml
