h11==0.16.0
fastapi==0.110.2
pydantic~=2.6.2
pydantic_core==2.16.3
pydantic[email]
SQLAlchemy==2.0.29
uvicorn[standard]==0.34.2
dynaconf==3.2.4
dynaconf[yaml]==3.2.4
psycopg2-binary
requests==2.31.0
fastapi-keycloak-middleware==1.2.0
python-dotenv==1.0.1
alembic==1.13.1
alembic-postgresql-enum==1.2.0
jsonpath-ng==1.7.0
opentelemetry-api==1.31.0
opentelemetry-sdk==1.31.0
opentelemetry-exporter-prometheus==0.52b0
opentelemetry-instrumentation-fastapi==0.52b0
opentelemetry-instrumentation-sqlalchemy==0.52b0
httpx<1.0